<div>
    <div>
        <a href="/samp">samp</a>&nbsp;
        <a href="/adi">adi</a>&nbsp;
        <a href="/guy">guy</a>&nbsp;
    </div>
    <hr />
    <router-outlet></router-outlet>
    <hr />
    <h1>Car Management</h1>

    <div>
        <h2>Add New Car</h2>
        <label>
            Make:
            <input [(ngModel)]="newCar.make" placeholder="Enter make">
        </label>
        <label>
            Model:
            <input [(ngModel)]="newCar.model" placeholder="Enter model">
        </label>
        <label>
            Year:
            <input type="number" [(ngModel)]="newCar.year" placeholder="Enter year">
        </label>
        <button (click)="addnewCar()">Add</button>
    </div>

    <ul>
        <li *ngFor="let item of myCars">
            <button (click)="delCar(''+item.id)">Delete</button>
            <button (click)="updCar(''+item.id)">Update</button>
            ID: {{ item.id }},
            Make: {{ item.make }},
            Model: {{ item.model }},
            Year: {{ item.year }}
        </li>
    </ul>
</div>

<app-display></app-display>